/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial;
}

/* Common Tags */
a {
    text-decoration: none;
}
/* Container */
.container {
    margin: 0 auto;
    max-width: 1210px;
}

/* Main Page Content */
main{
    padding: 30px 0 50px 0;
}
.contact-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.contact-us-form img{
    height: 100%;
}
.contact-us_image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-us_image img{
    width: 100%;
}
.contact-us_image-2{
    display: none;
}




/* RESPONSIVE PART */


@media screen and (max-width: 1280px) {
    .container {
        margin: 0 33px;
    }
}

@media screen and (max-width: 768px){
    .contact-grid{
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-gap: 20px;
    }
    .contact-us-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-us-form img{
        width: 100%;
        height: auto;
    }
    .contact-us_image{
        display: none;
    }
    .contact-us_image-2{
        display: block;
        width: 100%;
    }
    .contact-us_image-2 img{
        width: 100%;
    }
}